{% extends 'MsiStoreBundle::layout.html.twig' %}

{% block title %}Shopping Cart{% endblock title %}

{% block content %}
<div class="well">
    <table class="table table-bordered">
        <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Total</th>
        </tr>
        {% for detail in order.details %}
        <tr id="cart-product-{{ detail.product.id }}">
            <td>{{ detail.product.translation.name }}</td>
             <td class="span1">
                <form style="margin: 0;white-space: nowrap;" method="POST" action="{{ path('msi_store_detail_edit', {'id': detail.id}) }}" class="msi_store_detail_edit">
                    <input type="text" class="span1" value="{{ detail.quantity }}" name="quantity">
                    <a class="btn btn-small" href="#"><i class="icon-refresh"></i></a>
                    <a class="msi_store_detail_delete btn btn-small" href="{{ path('msi_store_detail_delete', {'id': detail.id}) }}"><i class="icon-trash"></i></a>
                </form>
            </td>
            <td class="detailTotal{{ detail.id }}">${{ calculator.getDetailTotal(detail)|number_format(2) }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan=4>Vide</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan=2 style="text-align: right;">{{ 'Subtotal'|trans }}</td>
            <td class="orderSubtotal">${{ calculator.getOrderSubtotal(order)|number_format(2) }}</td>
        </tr>
    </table>
    <div class="text-right">
        <a class="btn btn-primary btn-large" href="{{ path('msi_store_checkout_review') }}">Checkout &raquo;</a>
    </div>
</div>
{% endblock content %}

{% block js %}
{{ parent() }}
<script src="{{ asset('bundles/msistore/js/store.js') }}"></script>
{% endblock js %}
